@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />


<div>
    <a href="/FrmFileUploadTest/">
        <span class="oi oi-pencil" aria-hidden="true"></span>* FrmFileUploadTest
    </a>
</div>
<div>
    <a href="/Buffets/Noodles">
        <span class="oi oi-pencil" aria-hidden="true"></span> Noodls
    </a>
</div>
<div>
    <a href="/AuthenticationAuthorizationStudy"> 
        <span class="oi oi-pencil" aria-hidden="true"></span> AuthenticationA..</a>
</div>
<div>
    <a href="/Ideas"> 
        <span class="oi oi-pencil" aria-hidden="true"></span> Ideas</a>
</div>
<div>
    <a href="/TodoListInMemory">
        <span class="oi oi-pencil" aria-hidden="true"></span> TodoListInMemory
    </a>
</div>
<div>
    <a href="/Bonus">
        <span class="oi oi-monitor" aria-hidden="true"></span> 용돈나누기
    </a>
</div>
<div>
    <a href="/BlazorForm">
        <span class="oi oi-monitor" aria-hidden="true"></span> BlazorForm
    </a>&nbsp;&nbsp;
    <a href="/frmparent">
        <span class="oi oi-menu" aria-hidden="true"></span> frmparent
    </a>
</div>
<div>
    <a href="/MatBlazorTest">
        <span class="oi oi-wifi" aria-hidden="true"></span> MatBlazorTest
    </a>&nbsp;&nbsp;
    <a href="/MatTableTest">
        <span class="oi oi-aperture" aria-hidden="true"></span> MatTableTest
    </a>&nbsp;&nbsp;
    <a href="/ChartJsDemo">
        <span class="oi oi-bar-chart" aria-hidden="true"></span> ChartJs
    </a>
</div>
<div>
    <a href="/SignaturePadDemo">
        <span class="oi oi-wifi" aria-hidden="true"></span> SignaturePadDemo
    </a>&nbsp;&nbsp;
</div>
<div>
    <a href="/blazorise">
        <span class="oi oi-wifi" aria-hidden="true"></span> blazorise
    </a>&nbsp;&nbsp;
</div>
<div>
    <a href="/Videos/FrmDbContextTest">
        <span class="oi oi-wifi" aria-hidden="true"></span> FrmDbContextTest
    </a>&nbsp;&nbsp;
    <a href="/Videos">
        <span class="oi oi-wifi" aria-hidden="true"></span> Videos
    </a>&nbsp;&nbsp;
</div>
<div>
    <a href="/Machines/Index">
        <span class="oi oi-wifi" aria-hidden="true"></span> Machines
    </a>&nbsp;&nbsp;

</div>
<div>
    <a href="/CkEditorComponentTest">
        <span class="oi oi-text" aria-hidden="true"></span>CkEditorComponentTest
    </a>&nbsp;&nbsp;

</div>
<Dialog Title="Parameta Dialog Title">
    <ChildContent>
        <p>Dialog Content</p>
    </ChildContent>
</Dialog>

@code{


}
