@page "/movies"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using ArticleApp.Models
@implements IAsyncDisposable
@* @inject IDbContextFactory<ArticleAppDbContext> DbFactory *@
@inject ArticleAppDbContext DbFactory


<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="movies/create">Create New</a>
</p>

<QuickGrid Class="table" Items="context.Movies" Pagination="state">
    <PropertyColumn Property="movie => movie.Title" Sortable="true"/>
    <PropertyColumn Property="movie => movie.ReleaseDate" Format="yyyy-mm-dd" Title="개봉일"/>
    <PropertyColumn Property="movie => movie.Genre" />
    <PropertyColumn Property="movie => movie.Price" />

    <TemplateColumn Context="movie">
        <a href="@($"movies/edit?id={movie.Id}")">Edit</a> |
        <a href="@($"movies/details?id={movie.Id}")">Details</a> |
        <a href="@($"movies/delete?id={movie.Id}")">Delete</a>
    </TemplateColumn>
</QuickGrid>
<Paginator State="state">

</Paginator>
@code {
    PaginationState state = new PaginationState
        {
            ItemsPerPage = 5,
        };
    private ArticleAppDbContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory;
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
