@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<div>
    <a href="/Index.html">
        <span class="oi oi-pencil" aria-hidden="true"></span> Modern Business
    </a>
</div>

<SurveyPrompt Title="How is Blazor working for you?" />
