@page "/Buffets/Noodles"
@page "/Buffets/Noodles/Index"

<PageTitle>Noodles</PageTitle>

<h3>Noodles</h3>

<BuffetsSubMenu></BuffetsSubMenu>
<div>
    06___02_02_라우팅과 컴포넌트 개념을 사용하여 Noodles 컴포넌트 만들기
    <br/>
    https://www.youtube.com/watch?v=VRHIDEq49Ak&list=PLO56HZSjrPTAS3bC6UUNWBH9ih5yujpvS&index=6
</div>
@code {

}
