<div>
    <div class="small ">
        NoodleSubMenuBar
    </div>
    <nav class="d-flex">        
        <div class="nav-item px-1 border border-primary rounded">
            <NavLink class="nav-link" href="/Buffets/Noodles/Create">
                <span class="oi oi-plus" aria-hidden="true"></span> * Add Noodle
            </NavLink>
        </div>
        <div class="nav-item px-1 border border-primary rounded">
            <NavLink class="nav-link" href="/Uploads/">
                <span class="oi oi-cloud-upload" aria-hidden="true"></span> *
            </NavLink>
        </div>
    </nav>
</div>