@page
@model ArticleAppBlazorServer.Pages.AuthenticationAuthorizationStudy.LoginModel
@{
    Layout = "~/Pages/Shared/_AuthenticationAuthorizationStudy.cshtml";
}
<div class="col-md-8">
    @Html.Raw(Model.WelcomeMessage)
</div>

<div class="col-md-8">
    <a href="/AuthenticationAuthorizationStudy/">돌아가기_</a>
</div>