@{
    Layout = null;
}

<h3>최신 댓글 리스트 (ViewComponent Demo)</h3>

@await Component.InvokeAsync("RecentlyCommentList")

<hr/>

<h3>MainSummaryListViewComponent Demo</h3>

@await Component.InvokeAsync("MainSummaryList")
